<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CovidDIY.Properties.Settings.DbCovidConnectionString"
            connectionString="Data Source=DESKTOP-07IPCUO;Initial Catalog=DbCovid;User ID=sa;Password=erwinS12"
            providerName="System.Data.SqlClient" />
        <add name="CovidDIY.Properties.Settings.COVIDConnectionString"
            connectionString="Data Source=DESKTOP-07IPCUO;Initial Catalog=COVID;User ID=sa;Password=erwinS12"
            providerName="System.Data.SqlClient" />
        <add name="CovidDIY.Properties.Settings.COVID19ConnectionString"
            connectionString="Data Source=DESKTOP-07IPCUO;Initial Catalog=COVID19;User ID=sa;Password=erwinS12"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>